upload/include/plugins/*/
uploadinclude/i18n/*/cache
upload/scp/logs/
upload/scp/uploads/

upload/config/ost-config.php
upload/include/ost-config.php
upload/include/ost-sampleconfig.php
upload/include/ost-sampleconfig.php.new
